// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here
@import "footer";

.jumbotron {
  background: url("../img/pirate-ship.jpg") no-repeat center;
  background-size: cover;

  h1, p {
    color: white;
    text-align: center;
  }

  h1 {
    font-family: 'Dancing Script', cursive;
  }

  p {
    font-size: medium;
  }
}

.container {
  text-align: left;
  border: gray thick;


  h3 {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    padding-bottom: 0px;
    margin:0;
    font-size: 30px;
    }
  h4 {
    font-family: 'Baloo 2', cursive;
    padding-top: 0px;
    font-size: 20px;
  }
}

#credit {
  padding: 0;
  margin:0;
}

#source {
  padding: 0;
}

blockquote {
  border-left: 3px solid gray;
  padding: 10px;
}