// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here

.jumbotron {
  background-image: url(C:\Users\18179\alyssa-bootstrap-practice\docs\img\pirate-ship.jpg)>
  background-size: cover;
  height: 100%;}
}